Arithmetic/.vs
Arithmetic/Arithmetic/Debug/Arithmetic.log
Arithmetic/Arithmetic/Debug
Arithmetic/ipch
*.db
Arithmetic/Debug/
Arithmetic/Release/
Arithmetic/Arithmetic/Release/
*.opendb
Arithmetic/x64/
Arithmetic/Arithmetic/x64/
*.TMP
Arithmetic/ShellSort/x64/
Arithmetic/ShellSort/Debug/
